* {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;

   box-sizing: border-box;
}


html {
   scroll-behavior: smooth;
}

body {
   background-color: black;
   color: white;

}

h2 {
   font-size: 2.5em;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 20px;
}





#cabecalho {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #123e68;
   height: 100px;
   display: flex;
   justify-content: flex-start;
   align-items: center;

}

#menu {
   list-style: none;

   display: flex;
   gap: 20px;
   justify-content: flex-start;
   align-items: center;
}

#menu li {
   display: inline-block;
   margin-left: 20px;

}

#menu a {
   display: inline-block;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 800;
}

#menu a:hover {
   color: lightgreen;
}

#rodape {
   text-align: center;
}

.logo {
   padding-right: 250px;
   padding-top: 20px;
}

section {
   height: 1200px;
   margin-bottom: 10px;
   background-color: bisque;

}

#home {
   background-image: url("../img/fundo-aratech-informatica.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   height: 800px;

}

#home h1 {
   font-size: 3.55em;
   padding-top: 3em;

   padding-left: 45px;
   color: #123e68;
   text-shadow: 5px 2px 10px rgb(255, 255, 255);
}

#home p {
   font-size: 1.36em;
   font-weight: bold;
   padding: 40px 20px 40px 45px;
   background-color: #123e68cc;
   color: white;
   width: 680px;
}

.seta {
   padding-left: 800px;
}

.seta svg {
   width: 48px;
   color: #ffffff;
}

.seta svg:hover {
   color: #123e68;
}

#sobre {
   background-image: url("../img/fundo-sobre.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   padding-top: 100px;
   height: 100vh;
}

.sobre-texto {
   background-color: rgba(18, 62, 104, 0.9);
   color: white;
   width: 700px;
   margin-left: 50px;
   padding: 25px;
   text-align: justify;
   border-radius: 10px;
}

.sobre-texto p {
   margin-bottom: 10px;
   line-height: 26px;
}

#container-cursos {
   width: 1500px;
   margin: auto;
   height: 800px;
}

#cursos {
   background: linear-gradient(#0000005e, #0b0b33);
   padding: 150px 50px 35px 50px;
}

.curso-ti {
   display: inline-block;
   width: 400px;
   background-color: rgb(135, 214, 224);
   margin-top: 50px;
   margin-left: 40px;
   height: 200px;
   border: 2px solid rgb(135, 214, 224);
   border-radius: 25px;
   padding: 20px 10px 30px 20px;
}

.curso-ti:hover {
   width: 430px;
   box-shadow: 0 0 15px rgb(135, 214, 224);
}

.curso-ti img {
   width: 50px;
   display: inline-block;
   margin-right: 10px;
}

.curso-ti h3 {
   display: inline-block;
   margin-bottom: 20px;
   font-weight: 800;
}

.curso-ti ul {
   list-style: none;
   color: black;
}

.tec-infor {
   color: darkgreen;
}

.front-end {
   color: #123e68;
}

.back-end {
   color: darkred;
}

.design-grafico {
   color: #00008b;
}

.tec-ia {
   color: #daa520;
}

.programador {
   color: #ff4500;
}

#planos {
   background: #1786b3;
   background: linear-gradient(90deg, rgba(23, 134, 179, 1) 0%, rgba(0, 100, 55, 1) 100%);
   padding: 60px 0 150px 0;
   height: 900px;
}

#planos h2 {
   text-transform: none;
}

#planos p {
   text-align: center;
}

.espaco-tabela {
   margin-bottom: 130px;
}

#planos table {
   display: block;
   width: 900px;
   margin: auto;
}


#planos table {
   border-collapse: collapse;
   color: black;
   border: 2px solid white;
}

#planos th,
tr,
td {
   text-align: center;
   border: 1px solid black;
   padding: 10px;
   background-color: whitesmoke;
   color: black;
}

#planos .nossos-planos {
   background-color: #003f69;
   color: white;
   text-transform: uppercase;
   font-size: 1.77em;
}

#planos .opcoes-planos td,
#planos .opcoes {
   background-color: #4c90a5;
   font-weight: 900;
   color: white;
}

#planos #servico {
   background-color: whitesmoke;
   color: black;
}

#tabela-planos img {
   width: 40px;
}


.comprar {
   background-color: #106b87;
   color: white;
   cursor: pointer;
   padding: 10px 20px;
   border-radius: 10px;
}

.comprar:hover {
   background-color: #05485d;
}




#galeria {
   background: linear-gradient(#0b0b33, #123e68);
   padding: 100px 20px 50px 20px;
   margin: auto;
   height: 900px;
}

.galeria-fotos {
   margin: 50px auto 0 auto;
   width: 1500px;

}

.foto {
   display: inline-block;
   margin-left: 50px;

}

.foto img {
   width: 400px;
   border-radius: 10px;
}

.foto img:hover {
   scale: 1.2;
   opacity: .8;
}

.foto p {
   text-align: center;
}

#contato {
   background: linear-gradient(#123e68, #0b0b33);
   padding: 100px 20px 50px 20px;
   margin: auto;
   height: 900px;
}

.mensagem-imagem {
   margin-top: 60px;
   display: flex;
   gap: 80px;
   justify-content: center;
   align-items: center;
}


.contato-mensagem {
   display: inline-block;
   background-color: #527092;
   width: 600px;
   padding: 20px;
   border-radius: 25px;
}

.contato-mensagem input,
.contato-mensagem textarea {
   display: block;
   margin: 10px 0;
   width: 420px;
   height: 30px;
   border-radius: 5px;
   padding: 5px;
}

.contato-mensagem textarea {
   height: 90px;
}

.contato-mensagem input[type="submit"] {
   width: 100px;
   height: 40px;
   background-color: #008b8b;
   color: white;
}

.contato-mensagem input[type="submit"]:hover {
   background-color: #003f69;
   scale: 1.1;
}

.contato-imagem {
   width: 650px;
}

.contato-imagem img {
   width: 650px;
   border-radius: 25px;
}

#rodape {
   padding: 20px;
}

.noticias-informacoes {
   display: flex;
   gap: 100px;
   justify-content: center;
   align-items: center;
   margin-bottom: 1.11rem;
}

.noticias h3 {
   color: #add8e6;
   font-size: 1.77em;
   text-align: left;
   letter-spacing: .5rem;
}

.noticias li {
   text-align: left;
   margin-bottom: 5px;
}

.noticias a {
   color: white;
   text-decoration: none;
}

.noticias a:hover {
   color: lightgreen;
}

.informacoes p {
   text-align: left;
}

.redes-sociais img {
   width: 40px;
   border: 1px solid white;
   border-radius: 10px;
}

.redes-sociais img:hover {
   filter: invert(0.8);
}

.redes-sociais ul {
   display: flex;
   gap: 20px;
   margin-top: 20px;
}


#principal-termos,
#principal-privacidade {
   margin: 120px auto 20px;
   width: 1200px;
   padding: 30px;
   background-color: whitesmoke;
   color: black;
   font-size: 24px;
}

#principal-termos h1,
#principal-privacidade h1 {
   text-align: center;
   font-size: 40px;
   margin-bottom: 20px;
}

#principal-termos p,
#principal-privacidade p {
   margin: 10px 0 40px;
   text-align: justify;
}

#principal-termos li,
#principal-privacidade li.item {
   font-weight: bold;
   margin-top: 40px;
}

#principal-privacidade ul {
   margin-left: 40px;
}

#principal-privacidade ul li {
   list-style-type: square;
}

.informacoes a {
   color: white;
   font-weight: bold;
}

.informacoes a:hover {
   color: lightgreen;
   text-decoration: underline;
}

@media (max-width: 540px) {
   body {
      display: block;
      background-color: yellow;
      max-width: 540px;
   }

   #home p {
      font-size: 0.9em;
      font-weight: bold;
      padding: 20px 10px 20px 10px;
      background-color: #123e68cc;
      color: white;
      width: 540px;
   }

   #cabecalho {
      width: 540px;
   }

   ul a {
      display: none;
   }

   #sobre {
      display: flex;
            /* align-items: center; */
      max-width: 540px;

   }

   .sobre-texto {
      height: 200px;
      width: 450px;
      /* text-align: center; */
   }
}